<mat-toolbar>
    <span>Bad Kitties</span>
    <span class="navigation-spacer"></span>
    <div class="navigation-button-container">
        <a mat-flat-button extended href="/products">
          Products
        </a>
    </div>
    <a mat-icon-button class="favorite-icon" aria-label="View favorites" >
        <mat-icon>favorite</mat-icon>
    </a>
    <a mat-icon-button class="cart-icon" aria-label="View shopping cart"  href="/cart" >
        <mat-icon mat-button>shopping_cart</mat-icon>
    </a>
</mat-toolbar>